* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}
